main{
    width: 100vw;
    height: 100vh;
    border: 4px solid red;
    display: flex;

    padding: 112px 64px;
    gap: 80px;

    justify-content: center;
    align-items: center;

    background-image: url("../assets/images/vilare4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 32px;
}

.aside-content {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.aside-actions {
    display: flex;
    gap: 16px;
}

button {
    padding: 12px 24px;
    border: 1px solid #ffffff;
    font-size: 16px;
    color: white;
}

.btn-primary {
    background-color: #ffffff;
    color: white;
}

h1 {
    font-size: 56px;
    font-weight: 700;
    color: white;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

